body {
    font-family: Arial, sans-serif;
    max-width: 100ch;
    margin: 40px;
    padding: 20px;
    line-height: 1.6;
    background-color: #817777;
}
.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
.contact {
    margin-bottom: 20px;
}
.section {
    margin-bottom: 20px;
}

ul, li{
    display: contents
}