body {
    font-family: Arial, sans-serif;
    max-width: 100ch;
    margin: 40px;
    padding: 20px;
    line-height: 1.6;
    background-color: #817777;
}
.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
.contact {
    margin-bottom: 20px;
}
.section {
    margin-bottom: 20px;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1.5em;
  border-bottom: 1px solid oklch(80% 3% 200); /* cool gray */
}

nav a {
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  background-color: #eee; /* subtle hover effect */
}

nav a.current {
  border-bottom: 0.4em solid oklch(90% 3% 200); /* thicker and lighter version of cool gray */
  padding-bottom: 0.1em; /* compensate for border height */
  font-weight: bold;
}

  